*
  padding: 0
  margin: 0
  color: #000000
    /* font-family: "Roboto", Arial, Helvetica, sans-serif; */
  font-style: normal

html::-webkit-scrollbar
  display: none

html
  -ms-overflow-style: none
  scrollbar-width: none
  background: #FFFFFF

body
  position: relative
  min-height: 100vh
  min-width: 320px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  overflow: hidden
  overflow-x: hidden !important
  overflow-y: scroll

.body
  width: 100%
  overflow: hidden
  min-height: 100vh
  position: relative
  z-index: 1

// .header
//   width: 100%

.menu-text-img
  // max-width: 1220px
  display: flex
  margin-top: 50px
  margin-left: 190px
  // margin: 50px auto
  margin-bottom: 96px
  gap: 74px
  flex-direction: column
  // background-color: rgb(138, 76, 76)

.fon1
  position: absolute
  top: 0
  left: 0
  z-index: -1
  width: 100%
  max-height: 103vh
  object-fit: cover

.menu
  max-width: 1220px
  width: 100%
  // margin: 50px auto
  display: flex
  box-sizing: border-box
  padding: 0px 20px
  justify-content: space-between

  // background-color: rgb(11, 211, 230)

.logoANDbuttons
  display: flex
  gap: 80px

  // background-color: rgb(195, 169, 0)

.logoSVG
  max-height: 40px

.menuBUTTONS
  display: flex
  gap: 36px
  align-items: center

  // background-color: rgb(140, 179, 183)

  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    color: #8794BA

.signIN_AND_signUP
  display: flex
  gap: 40px
  align-items: center

  // background-color: rgb(96, 5, 242)

  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    text-align: right
    color: #8794BA

  button
    box-sizing: border-box
    align-items: center
    padding: 10px 53px
    background-color: transparent

    border: 1px solid #465B95
    border-radius: 68px

.analytics-text-and-img
  display: flex
  gap: 149px
  box-sizing: border-box
  padding-left: 20px
  align-items: center

  // background-color: rgb(96, 5, 242)

.analytics-text
  max-width: 550px
  max-height: 316px
  display: flex
  flex-direction: column
  gap: 50px

  // background-color: rgb(203, 189, 26)

  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    color: #FFFFFF

  button
    box-sizing: border-box
    padding: 10px 80px

    border: none
    background: #EF2A82
    border-radius: 68px

.text
  display: flex
  flex-direction: column
  gap: 15px
  // background-color: #EF2A82

.an-text-1
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  font-size: 50px
  line-height: 120%
  color: #FFFFFF

.an-text-2
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 150%
  color: #8794BA

.GrafIMG
  position: relative
  // background-color: rgb(152, 106, 227)
.grafik
  object-fit: cover
  max-width: 804px
  max-height: 554,57px
  // position: absolute
  // left: 0px
  // right: 0px
  // top: 0px
  // bottom: 0px
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2)
  border-radius: 30px

.SMALLgrafik
  position: absolute
  max-width: 361px
  max-height: 246.68px
  right: 512px
  top: 124px

  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2)
  border-radius: 32.0414px

.mainfeatures
  width: 100%

.mainfeaturesLIST
  max-width: 1220px
  box-sizing: border-box
  padding: 0px 20px
  margin: 0px auto

.main
  max-width: 1180px
  display: flex
  flex-direction: column
  gap: 80px

.mainTEXT
  max-width: 1060px
  width: 100%
  margin: 0px auto
  display: flex
  flex-direction: column
  gap: 30px

  // background-color: rgb(95, 21, 213)

.mf-text-1
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  font-size: 40px
  line-height: 47px
  text-align: center
  color: #172755

.mf-text-2
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 150%
  text-align: center
  color: #8794BA

.mainfeaturesICONS
  display: flex
  gap: 20px

.icon
  max-width: 380px
  display: flex
  flex-direction: column
  gap: 26px

.icon-svg
  padding: 0px 160px
  max-width: 60px

.icon-text
  display: flex
  flex-direction: column
  gap: 15px

  h2
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 19px
    text-align: center
    color: #172755

  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 140%
    text-align: center
    color: #8794BA
