*
  padding: 0
  margin: 0
  color: #000000
    /* font-family: "Roboto", Arial, Helvetica, sans-serif; */
  font-style: normal

html::-webkit-scrollbar
  display: none

html
  -ms-overflow-style: none
  scrollbar-width: none
  background: #FFFFFF

body
  position: relative
  min-height: 100vh
  min-width: 320px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  overflow: hidden
  overflow-x: hidden !important
  overflow-y: scroll

.body
  width: 100%
  overflow: hidden
  min-height: 100vh
  position: relative
  z-index: 1

.header
  width: 100%
  // background-color: rgb(138, 76, 76)

.menu
  max-width: 1220px
  display: flex
  box-sizing: border-box
  justify-content: space-between

  // background-color: rgb(11, 211, 230)

.logoANDbuttons
  display: flex
  gap: 80px

  // background-color: rgb(195, 169, 0)

.menuBUTTONS
  display: flex
  gap: 36px
  align-items: center

  // background-color: rgb(140, 179, 183)

  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    color: #8794BA

.signIN_AND_signUP
  display: flex
  gap: 40px
  align-items: center

  // background-color: rgb(96, 5, 242)

  p
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    text-align: right
    color: #8794BA

.fon1
  position: absolute
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: auto
  display: block
  object-fit: cover
